/*
colors used
primary color (grey blue): #D8E6E6;
secondary color (orange):D9603F;
third color (mustard yellow orange):E0A038;
alternate color (muted green):99B37B;
alternate color(blue):3094B3;
*/

body {
	background-color: #D8E6E6;
	font-family: roboto slab;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.6;
}

h1,h2, h3 {
	font-family: scada;
	line-height: 1.2;
}

h1 {
	font-size: 3em;
	font-weight: 600;
}

h2 {
	font-size: 2.5em;
	font-weight: 500;
}

h3 {
	font-size: 1.75em;
	font-weight: 400;
}

.job-title {
	font-size: .5em;
	font-style: italic;
}

img {
  width: 100%;
}


a:visited {
	color: #3094B3;
	text-decoration: underline;
}

a:hover,
a:focus {
	color: #E0A038;
	text-decoration: none;
}

a:active {
	color: #E0A038;
	text-decoration: none;
}

.button {
	color: #D8E6E6;
	background-color: #99B37B;
	font-weight: 400;
	padding: 6px;
	border-radius: 3px;
	border-bottom: 2px solid #3094B3;
	transition: 0.2s opacity;
}

.button:hover {
	opacity: 0.8
	text-decoration: none;
	color: white;
}

.button:active {
	opacity: 0.8
	text-decoration: none;
}

.resume-button {
	color: #D8E6E6;
	background-color: #99B37B;
	font-weight: 400;
	padding: 6px;
	border-radius: 3px;
	border-bottom: 2px solid #3094B3;
	transition: 0.2s opacity;
}

.email-button {
	color: #D9603F;
	background-color: #E0A038;
	font-weight: 400;
	padding: 6px;
	border-radius: 3px;
	border-bottom: 2px solid #D9603F;
	transition: 0.2s opacity;
}

.email-button:hover
:active {
	color: white;
}



