/*
colors used
primary color (grey blue): #D8E6E6;
secondary color (orange):D9603F;
third color (mustard yellow orange):E0A038;
alternate color (grey blue):ABB3B3;
alternate color(blue):3094B3;
*/
* {
  box-sizing: border-box;
}

body {
  background-color: white;
  color: #000000;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h1 {
  font-size: 3em;
  font-weight: 600;
}

h2 {
  font-size: 2.5em;
  font-weight: 500;
}

h3 {
  font-size: 1.75em;
  font-weight: 500;
}
h5 {
  font-size: 1.1em;
  font-weight: 400;
  color: #333c3e;
}

h6 {
  font-size: 1em;
  font-weight: 200;
  color: #de6600;
  font-family: "Abril Fatface", cursive;
}

.job-title {
  font-size: 0.5em;
  font-style: italic;
  padding-bottom: 10px;
}

img {
  width: 100%;
}

header h1 {
  font-family: "Abril Fatface", cursive;
  color: #de6600;
  margin-bottom: 10px;
}

.italic {
  font-style: italic;
  font-weight: 500;
}

a:visited {
  color: #de6600;
  text-decoration: underline;
}

a:hover,
a:focus {
  color: #fea334;
  text-decoration: none;
}

a:active {
  color: #de6600;
  text-decoration: none;
}

.button {
  color: white;
  background-image: -webkit-linear-gradient(#f57200, #de6600);
  font-weight: 400;
  padding: 6px;
  border-radius: 3px;
  border-bottom: 2px solid white;
  transition: 0.2s opacity;
  display: inline-block;
}

.button:hover {
  background-image: -webkit-linear-gradient(#33a0c1, #2f93b1);
  color: #ffffff;
  border-bottom: 2px solid white;
  transition: all ease-in-out 250ms;
}

.button:active {
  opacity: 0.8;
  text-decoration: none;
}

.button:visited {
  color: white;
}

.resume-button {
  color: white;
  background-image: -webkit-linear-gradient(#f57200, #de6600);
  font-weight: 400;
  padding: 6px;
  border-radius: 3px;
  border-bottom: 2px solid white;
  transition: 0.2s opacity;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.resume-button:hover,
.resume-button:focus {
  background-image: -webkit-linear-gradient(#33a0c1, #2f93b1);
  color: white;
  border-bottom: 2px solid white;
  transition: all ease-in-out 250ms;
}

.resume-button:visited {
  color: white;
}

/* Layout Styling */
.container {
  padding: 0 15px;
}

.colm-2 {
  position: relative;
  display: grid;
  grid-template-columns: 47% 6% 47%;
  text-align: center;
}

.colm-2-b {
  position: relative;
  display: grid;
  grid-template-columns: 48% 4% 48%;
  text-align: center;
}

.podcast-logo {
  width: 400px !important;
}

.overlay .work-link {
  color: transparent;
}

.overlay h2 {
  color: transparent;
  text-align: center;
}

.overlay:hover a:hover {
  left: 10%;
}

.overlay:hover .work-link {
  color: white;
  left: 10%;
  background-color: transparent;
  font-weight: 400;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid white;
  text-decoration: none;
}

.overlay:hover .work-link:hover {
  background-color: white;
  color: #de6600;
}

.overlay {
  margin-left: 10%;
  height: 330px;
  width: 100%;
  padding-top: 100px;
  color: transparent;
  overflow: hidden;
  background: #3094b3; /* fallback for old browsers */
  background: url("../images/just-stories/homepage-js.svg"); /* Chrome 10-25, Safari 5.1-6 */
  background: url("../images/just-stories/homepage-js.svg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 400px;
  background-repeat: no-repeat;
  transition: 0.3s ease-in;
}

.overlay:hover h2 {
  color: white;
  font-size: 1.5em;
}

.overlay:hover {
  margin-left: 10%;
  height: 330px;
  width: 90%;
  padding-top: 100px;
  padding-right: 6em;
  color: white;
  text-align: center;
  overflow: hidden;
  background: ##3094b3; /* fallback for old browsers */
  background: linear-gradient(rgb(48, 148, 179, 0.95), rgb(30, 93, 113, 0.95)),
    url("../images/just-stories/homepage-js.svg"); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(rgb(48, 148, 179, 0.95), rgb(30, 93, 113, 0.95)),
    url("../images/just-stories/homepage-js.svg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 400px;
  background-repeat: no-repeat;
}

.overlay2 .work-link {
  color: transparent;
}

.overlay2 h2 {
  color: transparent;
  text-align: center;
}

.overlay2:hover a:hover {
  right: 10%;
}

.overlay2:hover .work-link {
  color: white;
  right: 10%;
  background-color: transparent;
  font-weight: 400;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid white;
  text-decoration: none;
}

.overlay2:hover .work-link:hover {
  background-color: white;
  color: #de6600;
}

.colm-2-row {
  padding-left: 18%;
}
.overlay2 {
  height: 330px;
  width: 100%;
  padding-top: 100px;
  color: transparent;
  overflow: hidden;
  background: ##3094b3; /* fallback for old browsers */
  background: url("../images/App/homepage-tiyl.svg"); /* Chrome 10-25, Safari 5.1-6 */
  background: url("../images/App/homepage-tiyl.svg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 400px;
  background-repeat: no-repeat;
  transition: 0.4s ease-in;
}

.overlay2:hover h2 {
  color: white;
  font-size: 1.3em;
}

.overlay2:hover {
  height: 330px;
  width: 90%;
  padding-top: 100px;
  color: white;
  text-align: center;
  overflow: hidden;
  background: #3094b3; /* fallback for old browsers */
  background: linear-gradient(rgb(48, 148, 179, 0.95), rgb(30, 93, 113, 0.95)),
    url("../images/App/homepage-tiyl.svg"); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(rgb(48, 148, 179, 0.95), rgb(30, 93, 113, 0.95)),
    url("../images/App/homepage-tiyl.svg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 400px;
  background-repeat: no-repeat;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#app-project {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

.podsite-homepage {
  max-width: 300px;
}

#app-project h2 {
  margin-top: 50px;
  text-align: center;
}

#skills-tools {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

.logo {
  max-width: 150px;
  border-radius: 50%;
}

.podcast-logo {
  max-width: 200px;
  border-radius: 60%;
}

#work img {
  box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.75);
}

header {
  background-color: white;
  text-align: center;
  padding: 10px 0 4px;
  box-shadow: 0px 4px 5px 0px rgba(145, 145, 145, 0.75);
  position: fixed;
  width: 100%;
}

.homepage-link {
  text-decoration: none;
}

main {
  padding-top: 140px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #de6600;
  text-decoration: none;
}

nav > ul > li > a:visited {
  text-decoration: none;
}

nav > ul > li > a:active {
  text-decoration: none;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.response {
  position: relative;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
}

.navtoggle li .icon {
  right: 0;
  padding-right: 15px;
  top: 2px;
  font-size: 25px;
  margin-top: 10px;
  color: #3094b3;
  border-radius: 20%;
}

#hero {
  background-color: white;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  box-shadow: 0px 2px 3px 0px rgba(145, 145, 145, 0.75);
}

footer {
  background-color: white;
  padding-top: 10px;
}

footer h2 {
  font-family: "Abril Fatface", cursive;
  font-size: 3em;
  color: #de6600;
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
  display: block;
}

.contact-info {
  margin-bottom: 5px;
  margin-top: 5px;
  color: #767676;
}

.contact-icons {
  text-align: center;
  display: block;
}

.fab {
  color: #3094b3;
  font-size: 34px;
  margin-right: 4px;
  margin-left: 4px;
}

.github i {
  margin-left: 15px;
}

.fab:hover {
  color: #6b6b6b;
  font-size: 36px;
  transition: all ease-in-out 200ms;
}

.call {
  margin-top: 8px;
  margin-bottom: 5px;
}

.far {
  font-size: 34px;
  color: #3094b3;
  margin-right: 20px;
  margin-left: 20px;
}

.far:hover {
  color: #6b6b6b;
  font-size: 36px;
  transition: all ease-in-out 200ms;
}

.fas {
  font-size: 34px;
  color: #3094b3;
}

.fas:hover {
  color: #6b6b6b;
  font-size: 36px;
  transition: all ease-in-out 200ms;
}

#work h3 {
  margin-bottom: 15px;
}

.project-explained h3 {
  margin-bottom: 5px;
}

.project-explained h5 {
  margin-top: 10px;
}

.stage-1 {
  display: inline-block;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.project-explained > ul > li {
  text-align: left;
}

.project-explained > ul {
  text-align: center;
}

.navigation-animation,
.homepage-animation,
.listen-screenshot {
  max-width: 250px;
}

.project-explained p,
h3,
h5 {
  padding-left: 10px;
  padding-right: 10px;
}

.process-explained p,
h3,
h5 {
  padding-left: 10px;
  padding-right: 10px;
}

.interact-link {
  color: white;
  background-image: -webkit-linear-gradient(#f57200, #de6600);
  font-weight: 400;
  padding: 6px;
  border-radius: 3px;
  border-bottom: 2px solid white;
  transition: 0.2s opacity;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin-bottom: 30px;
  margin-top: 20px;
}

.interact-link:hover,
.interact-link:focus {
  background-image: -webkit-linear-gradient(#33a0c1, #2f93b1);
  color: white;
  border-bottom: 2px solid white;
  transition: all ease-in-out 250ms;
}

.interact-link:visited {
  color: white;
}

.image-gallery {
  text-align: center;
}

.image-gallery img {
  max-width: 180px;
}

.about-h2 {
  margin-bottom: 15px;
}

.skills-tools-h3 {
  margin-top: 15px;
  margin-bottom: 10px;
  text-decoration: underline;
}

.row {
  margin: 25px 0;
}

.center {
  text-align: center;
}

#skills-tools ul {
  list-style-type: none;
}

.pro-pic {
  height: 40%;
  width: 100%;
  border-radius: 20%;
  box-shadow: 0 4px 6px 0 rgb(34, 60, 80, 0.16);
}

#skills-tools ul {
  padding: 0;
}

  .colm-2 {
    display: block;
  }

  .overlay {
    margin-left: 5%;
    padding-top: 50px;
    height: 200px;
    background-size: 200px;
  }

  .overlay:hover h2 {
    font-size: 1em;
  }

  .overlay:hover {
    margin-left: 5%;
    padding-top: 50px;
    height: 200px;
    background-size: 200px;
  }

  .overlay2 {
    height: 200px;
    background-size: 200px;
  }
  .overlay2:hover {
    height: 200px;
    background-size: 200px;
  }

  .overlay {
    margin-left: 26%;
  }

  .overlay2 {
    margin-left: 10%;
  }
  .js-grid {
    display: block;
  }

@media only screen and (min-width: 640px) {
  #hero p {
    max-width: 600px;
    text-align: center;
  }

  #hero h2 {
    text-align: center;
  }

  .logo {
    max-width: 300px;
  }

  header {
    text-align: unset;
    opacity: 90%;
  }

  .name {
    display: inline-flex;
    font-size: 28px;
    float: left;
    margin-left: 10px;
  }

  nav {
    width: auto;
    margin-top: 0;
    display: flex;
    justify-content: flex-end;
    padding-left: 10px;
  }

  nav > ul {
    margin-top: 20px;
    margin-bottom: 0;
  }

  nav > ul > li {
    display: inline-block;
    font-size: 20px;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  nav > ul > li > a::after {
    content: "";
    position: absolute;
    display: block;
    height: 0.4em;
    width: 0%;
    background-color: #ebd9c8;
    margin-left: 12px;
    transition: all ease-in-out 500ms;
  }

  nav > ul > li > a:hover::after {
    width: 6%;
  }

  .contact-icons {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    margin-top: 15px;
    margin-right: 75px;
  }

  footer h2 {
    float: left;
    margin-left: 40px;
  }

  main {
    padding-top: 100px;
  }

  body {
    font-size: 18px;
  }

  #hero {
    text-align: center;
  }

  .col-md-6 {
    width: 50%;
  }

  .colm-2 {
    display: block;
  }
  #work .row {
    margin-left: 5%;
  }
  .overlay {
    margin-left: 15%;
  }

  overlay:hover {
    margin-right: 2%;
  }

  .overlay2:hover {
    padding-right: 10%;
  }

  .colm-2-row {
    padding-top: 10%;
    padding-left: 15%;
  }

  .logo {
    max-width: 250px;
    margin-top: 35px;
  }

  .js-grid {
    padding-left: 5%;
    padding-right: 5%;
  }

  .app-pic-index {
    max-height: 500px;
    max-width: 300px;
  }

  .skills-tools-h3 {
    text-align: center;
  }

  .app-p-tiyl {
    padding-right: 0;
  }

  .podcast-logo {
    max-width: 300px;
  }

  .project-explained p,
  h3,
  h5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .process-explained p,
  h3,
  h5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .podsite-homepage {
    max-width: 600px;
    margin-top: 60px;
  }

  .listen-screenshot {
    max-width: 500px;
    margin-top: 40px;
  }

  .animation1-p {
    margin-bottom: 20px;
    margin-top: 50px;
  }

  .navigation-animation {
    margin-top: 20px;
    max-width: 500px;
  }

  .site-style-p {
    margin-top: 10px;
  }

  .homepage-animation {
    max-width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  #skills-tools ul {
    padding: 0;
  }

  .about-photo-kelly {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-height: 400px;
    max-width: 500px;
    margin-bottom: 100px;
  }

  .image-gallery {
    text-align: center;
  }
  .image-gallery img {
    padding: 10px;
    max-width: 180px;
    transition: 1s;
  }
  .image-gallery img:hover {
    transform: scale(1.1);
  }
}
@media only screen and (min-width: 1024px) {
  body {
    font-size: 18px;
  }

  .logo {
    max-width: 350px;
  }

  nav {
    margin-right: 60px;
    margin-top: 0;
  }

  footer h2 {
    margin-left: 200px;
  }

  .contact-icons {
    margin-right: 300px;
  }

  header h1 {
    margin-bottom: 10px;
  }

  #hero {
    padding-left: 12%;
  }

  #hero p {
    max-width: 600px;
    text-align: center;
    padding-right: 0;
  }

  #work .row {
    padding-left: 5%;
    margin-left: 0;
  }

  .overlay2 {
    padding-right: 20px;
  }

  .overlay {
    padding-left: 30px;
  }

  .colm-2-row {
    padding-left: 10%;
    padding-top: 0;
  }

  .colm-2 {
    position: relative;
    display: grid;
    grid-template-columns: 47% 6% 47%;
    text-align: center;
  }

  .colm-2-b {
    position: relative;
    display: grid;
    grid-template-columns: 48% 4% 48%;
    text-align: center;
  }

  main {
    padding-top: 75px;
  }

  .process-title {
    text-align: center;
  }

  [class*="col-"] {
    float: left;
    padding: 30px;
  }

  .process-title {
    margin-top: 130px;
  }

  #skills-tools ul {
    padding: 0;
  }

  .about-photo-kelly {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-height: 300px;
    max-width: 500px;
    margin-bottom: 150px;
  }

  .process-explained {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

  .app-description-tiyl {
    margin-top: 75px;
  }

  .app-p-tiyl {
    margin-bottom: 100px;
    margin-top: 0;
    margin-right: 50px;
  }

  .chicago {
    min-width: 400px;
    height: auto;
  }

  #work h3,
  p {
    padding-right: 50px;
  }

  .button {
    margin-right: 50px;
  }
}

@media only screen and (min-width: 1440px) {
  .about-photo-kelly {
    margin-bottom: 400px;
  }

  footer h2 {
    margin-left: 175px;
  }

  .contact-icons {
    margin-right: 400px;
  }

  .homepage-animation {
    max-width: 800px;
  }
  .navigation-animation {
    max-width: 800px;
  }

  .listen-screenshot {
    max-width: 700px;
  }
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.chicago {
  width: 300px;
  height: auto;
}

@keyframes color {
  0% {
    fill: #f7f172;
  }

  50% {
    fill: #f7b272;
  }

  100% {
    fill: #e63b32;
  }
}

.lettering {
  animation: 5s color infinite alternate;
}

@keyframes grow {
  from {
    transform: translate(500px, 48px);
  }

  to {
    transform: translate(50px, 48px);
  }
}

.dino {
  animation: 3s grow infinite alternate linear;
}

@keyframes flash {
  0% {
    fill: white;
  }

  100% {
    fill: black;
  }
}

.sign {
  animation: 1s flash infinite linear;
}

.whale {
  animation: fly 6s infinite alternate ease-in-out;
}

@keyframes fly {
  from {
    transform: rotate(0deg) translateX(9000px) translateY(1000px) rotate(0deg);
  }

  to {
    transform: rotate(180deg) translateX(0px) rotate(180deg);
  }
}

#color-palette {
  max-width: 600px;
}
